body{
	font-family: "Helvetica Neue",Helvetica,Arial,Sans-serif;
	background-color: #2bbed3;
}

h1{
	text-align: center;
	font-size: 80px;
	color: white;
}

h3{
	text-align: center;
	font-size: 25px;
	color: white;
}

input{
	width: 250px;
	height: auto;
	margin: 20px auto;
	font-size: 40px;
	color: white;
	background: inherit;
	text-align: center;
	border:none;
	outline: none;
}

.clear{
	clear:both;
}

.withdrawal{
	width: 810px;
	height: auto;
	margin: 0 -120%;
}

.withdrawal ul{
	width: 230px;
	float: left;
	list-style-type: none;
	font-size: 25px;
	color: white;
}

.withdrawal li{
	border: 1px solid white;
	padding: 15px 5px 15px 55px;
	margin: 0 -15px;
}

.withdrawal li span {
	display: inline-block;
	width: 20px;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	border-radius: 60px;
	text-align: center;
	background: white;
	margin-right: 50px;
	margin-left: -10px;
}

.withdrawal #notes li span {
	border: 1px solid white;
	border-radius: 0px;
	width: 55px;
}

#submitButton{
	width: 250px;
	height: 50px;
    margin: 20px auto;
	border-radius: 25px;
	border: 1px solid white;
	font-size: 25px;
	color: white;
	background-color:inherit;

}

#submitButton:focus{
	outline: none;
}

#backButton{
	float: left;
	font-size: 25px;
	color: white;
	border-radius: 51%;
	border: 1px solid white;
	text-align: center;
	line-height: 155%;
	width: 45px;
	height: 45px;
	margin: 0px -100%;
	background-color: inherit;
}

#centeredDiv{
	margin: 0 auto;
	width: 100%;
}

#atmInterface{
	width: 250px;
	height: auto;
    margin: 0 auto;
}

#numberpad li{
	list-style-type: none;
	float: left;
	font-size: 25px;
	color: white;
	border-radius: 51%;
	border: 1px solid white;
	text-align: center;
	line-height: 175%;
	width: 45px;
	height: 45px;
	margin: 5px;
}

#withdrawalInterface{
	display: none;
	width: 250px;
	height: auto;
    margin: 0 auto;
}

#amount{
	text-align: center;
	font-size: 40px;
	color: white;
}
